
.header{
    height: 80px;
    background-color: #333E48;
}
.footer{
    background-color: #333E48;
    line-height: 50px;
    color: white;
    text-align: center;
}
.chung{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#form{
    height: 250px;
    max-width: 400px;
    background: rgba(0,0,0,0.6);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow:0px 0px 17px 2px rgba(255,255,255,0.8); ;
}
.h1{
    color: #0cafa9;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;

}
.ip{
    background:transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
    color: #fff;
}
.ip::placeholder{
    color: yellow;
    font-weight: bold;
}
.grop{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.bt{
    font-weight: bold;
    width: 100%;
    height: 30px;
    border-radius: 13px;
}